body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #000000;
}


/* Шапка */
header {
    text-align: center;
    padding: 40px;
    background: #26292c;
}

header h1 {
    margin: 0;
    font-size: 32px;}